header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
}
.header-logo {
  display: flex;
  gap: 2rem;
  align-items: center;
  color: var(--primary-color);
  font-family: var(--font-family);
}
.header-buttons {
  display: flex;
  gap: 4rem;
  align-items: center;
  color: var(--primary-color);
  font-family: var(--font-family);
  cursor: pointer;
  div:hover {
    color: rgb(58, 78, 156);

    background-color: var(--primary-color);
  }
}
