header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
}
.header-logo {
  display: flex;
  gap: 2rem;
  align-items: center;
  color: var(--primary-color);
  font-family: var(--font-family);
}
.header-buttons {
  display: flex;
  gap: 4rem;
  align-items: center;
  color: var(--primary-color);
  font-family: var(--font-family);
  cursor: pointer;
  div:hover {
    scale: 1.1;
    transition: all 0.3s ease-in-out;
    color: rgb(58, 78, 156);
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 1280px) {
  .platform-title {
    display: none;
  }
  .header-buttons {
    cursor: default;

    pointer-events: none;
    div {
      cursor: default;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;

      &:hover {
        transform: none;
        background-color: inherit;
      }
    }
  }
}
